.default{
    font-size: 16px;
}

.texto-chico {
    font-size: 14px;
}

.texto-mediano {
    font-size: 18px;
}

.texto-grande {
    font-size: 24px;
}

.oscuro {
    background-color: black;
    color: white;
}

.claro {
    background-color: white;
    color: black;
}