/*
Primero para celulares con un ancho de 320px
*/

#contP{
    width: 100%;
    height: 900px;
}

header{
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: space-between;
    background-color: black;
}

#logoContenedor{
    width: 100px;
}

#logoImagen{
    width: 100%;
}

#registrarme, #logearme{
    color: #ff1a74;
    text-decoration: none;
}

#logearme{
    display: block;
    text-align: center;
    margin-top: 4px;
}

#registrarme{
    display: block;
    text-align: center;
    margin-top: 10px;
}

#carritoContenedor{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #ff1a74;
    display: block;
    position: fixed;
    z-index: 2;
    top: 90px;
    left: 270px;
}

#carritoImagen{
    display: block;
    margin: auto;
    margin-top: 2px;
}

#carritoContenedor:hover{
    cursor: pointer;
}

#navigationButtonContainer{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 19px;
    left: 144px;
    z-index: 4;
}

#navigationButton{
    width: 100%;
    height: 100%;
}

.navigationButton1{
    transform: rotate(90deg);
    transition: 1s;
}

.none{
    transform: rotate(0deg);
    transition: 1s;
}

#navigation{
    display: grid;
    position: fixed;
    row-gap: 30px;
    align-content: start;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: rgba(0,0,0, 0.6);
}

#cat1{
    margin-top: 27%;
}

.cat{
    display: grid;
    justify-content: center;
    text-align: center;
    align-content: center;
    height: 50px;
    width: 80%;
    margin: auto;
    background-color: #ff1a767b;
    border-radius: 20%;
}

.default{
    display: none !important;
}

.show{
    display: grid !important;
}

@media (min-width: 375px) {
    #carritoContenedor{
        left: 325px;
    }
    #navigationButtonContainer{
        left: 172px;
    }
}

@media (min-width: 425px) {
    #carritoContenedor{
        left: 372px;
    }
    #navigationButtonContainer{
        left: 200px;
    }
}

@media (min-width: 768px) {
    #carritoContenedor{
        width: 50px;
        height: 50px;
        left: 690px;
    }

    #carritoImagen {
        width: 42px;
        margin-top: 4px;
    }
}